body {
    margin: 0;
    font-family: 'Georgia', serif;
    color: white;
    background: radial-gradient(circle at center, #050510, #000000);
}

/* ESTRELLAS */
body::before {
    content: "";
    position: fixed;
    width: 300%;
    height: 300%;
    background: url("https://raw.githubusercontent.com/VincentGarreau/particles.js/master/demo/media/star.png");
    animation: estrellas 100s linear infinite;
    opacity: 0.4;
    z-index: -1;
}

@keyframes estrellas {
    from { transform: translate(0,0); }
    to { transform: translate(-1000px, -1000px); }
}

/* HEADER */
header {
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid white;
}

header h1 {
    font-size: 3em;
    letter-spacing: 2px;
}

/* TITULAR */
.portada {
    padding: 40px;
    text-align: center;
}

.portada h2 {
    font-size: 2em;
    color: cyan;
}

/* SECCIONES */
.seccion {
    padding: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* TARJETAS */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px cyan;
}